STORE_CORS=http://localhost:3000,http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:3000,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:3000,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://sacreladmin:'e5A@f3L!L><5'@193.38.34.190:5438/sacrel
DB_NAME=medusa-v2
